@media (max-width : 468px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        display: block;
        background-color: purple;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(0, 0, 0);
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #options {
        margin-left: 30px;
    }

    #burguer {
        position: relative;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-top: 35px;
        margin-left: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #integrity {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    aside {
        color: white;
        margin-top: 20px;
    }

    #fresh {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #diversity {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    .img {
        border: 1px solid white;
        width: 30%;
    }

    #text-diversity {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #inovation {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    #text-inovation {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        display: block;
        background-color: purple;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(0, 0, 0);
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #options {
        margin-left: 30px;
    }

    #burguer {
        position: relative;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-top: 35px;
        margin-left: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #integrity {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    aside {
        color: white;
        margin-top: 20px;
    }

    #fresh {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #diversity {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    .img {
        border: 1px solid white;
        width: 30%;
    }

    #text-diversity {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #inovation {
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }

    #text-inovation {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}