/* 480, 481-768 tablet, 769- 1024 */

@media (max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: #182333
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;

    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #options {
        margin-left: 30px;


    }

    #burguer {
        position: relative;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-left: 15px;
        margin-top: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(212, 50, 212);
    }


    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #description {

        text-align: center;
        align-items: center;
        display: inline-block;
        background-color: #182333;
        position: relative;
    }

    #background {
        opacity: 0.9;
        width: 100%;
        height: 120%;
    }

    #ideals {
        top: 0px;
        text-align: center;
        left: 30%;
    }


    #ingredients {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }



    aside {
        color: white;
        margin-top: 20px;
    }

    #fresh {
        display: block;
        position: relative;
        text-align: left;

        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #diversity {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    .img {
        border: 1px solid white;
        width: 50%;
    }

    #text-diversity {
        display: block;
        position: relative;
        text-align: left;

        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #place {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    #restaurant {
        display: block;
        position: relative;
        left: 25%;
        text-align: left;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: #182333
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        display: inline-block;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;

    }

    #options {
        display: flex;
        margin-left: 30px;
        justify-content: center;
    }


    #logo {
        display: flex;
        justify-content: center;
    }

    #burguer {
        position: relative;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-left: 15px;
        margin-top: 35px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(212, 50, 212);
    }



    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #description {

        text-align: center;
        align-items: center;
        display: inline-block;
        background-color: #182333;
        position: relative;
    }

    #background {
        opacity: 0.9;
        width: 100%;
        height: 120%;
    }

    #ideals {
        top: 0px;
        text-align: center;
        left: 30%;
    }

    #ingredients {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }



    aside {
        color: white;
        margin-top: 20px;
    }

    #fresh {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #diversity {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    .img {
        border: 1px solid white;
        width: 50%;
    }

    #text-diversity {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #place {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    #restaurant {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: #182333;
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }


    a {
        text-decoration: none;
        color: white;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #options {
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }

    #burguer {
        position: relative;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-left: 15px;
        margin-top: 35px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(212, 50, 212);
    }

    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    #background {
        opacity: 0.9;
        width: 250%;
    }

    #ingredients {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        opacity: 0.9;
    }

    aside {
        color: white;
        margin-top: 20px;
    }

    #fresh {
        display: block;
        color: whitesmoke;
        width: 40%;
        font-size: x-large;
        padding-left: 3%;
        padding-right: 3%;
        font-family: 'Barlow Semi Condensed', sans-serif;
        display: flex;
        align-items: center;

    }

    #diversity {
        margin-top: 5%;
        opacity: 0.9;
        display: flex;
        justify-content: center;
    }

    .img {
        border: 1px solid white;
        width: 50%;
        height: auto;
        margin-left: 50px;
    }

    #ing {
        height: 80%;
    }

    #text-diversity {
        text-align: left;
        color: whitesmoke;
        width: 40%;
        font-size: x-large;
        font-weight: 400;
        padding-left: 3%;
        padding-right: 3%;
        font-family: 'Barlow Semi Condensed', sans-serif;
        display: flex;
        align-items: center;
    }

    #place {
        margin-top: 5%;
        opacity: 0.9;
        display: flex;
        justify-content: center;
    }

    #restaurant {
        text-align: left;
        color: whitesmoke;
        width: 40%;
        font-size: x-large;
        font-weight: 400;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        align-items: center;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}