body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    background-color: purple;
    position: static;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    display: inline-block;
}

#options {
    display: inline-block;
}

#burguer {
    position: relative;
    left: 1000%;
    top: 15px;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    display: inline-block;
    margin: 15px;
    position: relative;
    left: 190%;
    font-size: large;
    
}

#logo {
    align-items: center;
}

main {
    margin-top: 99px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#description {
    text-align: center;
    align-items: center;
    display: inline-block;
    position: relative;
}

#background {
    background-color: aqua;
    position: relative;
}

#ideals {
    top: 0px;
    text-align: center;
    left: 30%;
}

h1 {
    color: black;
    position: absolute;


}