body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
}

html, body {
    scroll-behavior: smooth;
}

header {
    background-color: purple;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height: auto;
}


a {
    text-decoration: none;
    color: white;
}

#logo {
    display: inline-block;
}

#options {
    display: inline-block;
}

#burguer {
    position: relative;
    left: 250%;
    top: 15px;
}

p {
    position: relative;
    color: whitesmoke;
    left: 250%;
    margin-left: 15px;
    display: inline-block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 120%;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    display: inline-block;
    margin: 15px;
    position: relative;
    left: 150%;
    font-size: 120%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#logo {
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


h1 {
    color: black;
    position: absolute;
    bottom: 150px;
    text-align: center;
    margin-right: 25%;
    margin-top: 35px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

#integrity {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    opacity: 0.9;
}


#about:active {
    transform: scale(0.9);
    background-color: aqua;
    transition-duration: 0.5s;
    scroll-behavior: smooth;
    transition-timing-function: ease-in-out;
}

aside {
    color: white;
}

#fresh {
    display: inline-block;
    text-align: left;
    color: wheat;
    width: 40%;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    bottom: 35%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

#diversity {
    margin-top: 30px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    display: inline-block;
    text-align: center;
}

.img {
    border: 1px solid white;
    width: 30%;
}

#text-diversity {
    text-align: left;
    display: inline-block;
    color: wheat;
    width: 40%;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    bottom: 25%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#place {
    margin-top: 30px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    display: inline-block;
    text-align: center;
}

#restaurant {
    text-align: left;
    display: inline-block;
    color: wheat;
    width: 40%;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    bottom: 25%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

footer {
    margin-top: 3%;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}