/* 480, 481-768 tablet, 769- 1024 */

@media (max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: black
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;
        
    }

    #logo {
        display: inline-block;
    }

    #options {
        display: inline-block;
    }

    #burguer {
        position: relative;
        top: 15px;
        margin-left: 150px;
        text-align: center;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-left: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
        display: none;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(0, 0, 0);
    }


    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #description {

        text-align: center;
        align-items: center;
        display: inline-block;
        background-color: black;
        position: relative;
    }

    #background {
        opacity: 0.9;
        width: 100%;
        height: 120%;
    }

    #ideals {
        top: 0px;
        text-align: center;
        left: 30%;
    }

    h1 {
        color: black;
        position: absolute;
        text-align: center;
        margin-right: 25%;
        margin-top: 0px;
        font-size: small;
        font-family: 'Barlow Semi Condensed', sans-serif;
        display: none;

    }

    #ingredients {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }



    aside {
        color: white;
    }

    #fresh {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #diversity {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    .img {
        border: 1px solid white;
        width: 50%;
    }

    #text-diversity {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #place {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    #restaurant {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: black
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;
        
    }

    #logo {
        display: inline-block;
    }

    #options {
        display: inline-block;
    }

    #burguer {
        position: relative;
        top: 15px;
        margin-left: 150px;
        text-align: center;
    }

    p {
        position: relative;
        color: whitesmoke;
        margin-left: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
        display: none;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(0, 0, 0);
    }


    #logo {
        align-items: center;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #description {

        text-align: center;
        align-items: center;
        display: inline-block;
        background-color: black;
        position: relative;
    }

    #background {
        opacity: 0.9;
        width: 100%;
        height: 120%;
    }

    #ideals {
        top: 0px;
        text-align: center;
        left: 30%;
    }

    h1 {
        color: black;
        position: absolute;
        text-align: center;
        margin-right: 25%;
        margin-top: 0px;
        font-size: small;
        font-family: 'Barlow Semi Condensed', sans-serif;
        display: none;

    }

    #ingredients {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
        margin-top: 100px;
    }



    aside {
        color: white;
    }

    #fresh {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #diversity {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    .img {
        border: 1px solid white;
        width: 50%;
    }

    #text-diversity {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #place {
        margin-top: 30px;
        display: inline;
        text-align: center;
        opacity: 0.9;
    }

    #restaurant {
        display: block;
        position: relative;
        left: 25%;
        color: whitesmoke;
        width: 50%;
        font-size: medium;
        font-weight: 400;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }   
}

@media (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    html,
    body {
        scroll-behavior: smooth;
    }

    header {
        background-color: purple;
        width: 15000px;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
    }

    a {
        text-decoration: none;
        color: white;
    }

    #logo {
        display: inline-block;
    }

    #options {
        display: inline-block;
    }

    #burguer {
        position: relative;
        left: 250%;
        top: 15px;
    }

    p {
        position: relative;
        color: whitesmoke;
        left: 250%;
        margin-left: 15px;
        display: inline-block;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 120%;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 15px;
        position: relative;
        left: 150%;
        font-size: 120%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    a:hover {
        color: rgb(0, 0, 0);
    }


    #logo {
        align-items: center;
    }

    main {
        width: 160%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #description {
        width: 100%;
        text-align: center;
        align-items: center;
        display: inline-block;
        background-color: black;
        position: relative;
    }

    #background {
        opacity: 0.9;
        width: 250%;
    }

    #ideals {
        top: 0px;
        text-align: center;
        left: 30%;
    }

    h1 {
        color: black;
        position: absolute;
        bottom: 150px;
        text-align: center;
        margin-right: 25%;
        margin-top: 35px;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #ingredients {
        margin-top: 30px;
        display: inline-block;
        text-align: center;
        opacity: 0.9;
    }



    aside {
        color: white;
    }

    #fresh {
        display: inline-block;
        text-align: left;
        color: wheat;
        width: 48%;
        font-size: x-large;
        font-weight: 400;
        position: relative;
        bottom: 15%;
        padding-left: 3%;
        padding-right: 3%;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    #diversity {
        margin-top: 30px;
        background-color: black;
        opacity: 0.9;
        text-align: center;
        display: inline-block;
        text-align: center;
    }

    .img {
        border: 1px solid white;
        width: 30%;
    }

    #text-diversity {
        text-align: left;
        display: inline-block;
        color: wheat;
        width: 40%;
        font-size: x-large;
        font-weight: 400;
        position: relative;
        bottom: 25%;
        padding-left: 3%;
        padding-right: 3%;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }

    #place {
        margin-top: 30px;
        background-color: black;
        opacity: 0.9;
        text-align: center;
        display: inline-block;
        text-align: center;
    }

    #restaurant {
        text-align: left;
        display: inline-block;
        color: wheat;
        width: 40%;
        font-size: x-large;
        font-weight: 400;
        position: relative;
        bottom: 25%;
        padding-left: 3%;
        padding-right: 3%;
        font-family: 'Barlow Semi Condensed', sans-serif;

    }

    footer {
        margin-top: 3%;
        color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}